{% extends 'base.html' %} 
{% block content %}
<h1>About Kitsch-cache</h1>
<hr />
<div class="about-page-content" style="background-color: rgba(255, 244, 235, 0.766);">
  <p class="page-content">
    I was born and raised in Ventura County, attending the Thacher School in Ojai before heading to UCSB, 
    where I graduated with High Honors with two Bachelor’s degrees, one in English Literature – Creative Writing 
    and the other in Women’s Studies. Not a normal background for an MBA, but one that has driven my career 
    in licensing and consumer products with the question: why do we purchase and build relationships with 
    brands and entertainment properties?
  </p>
  <p class="page-content">
    From hanging onto childhood memories to creating a sense of belonging, brands, bands, films, sports teams, 
    and characters help us find belonging in an unwieldy and chaotic culture. 
    They help us signify to others who we are. They provide comfort. They give us a voice when we feel we have none.
  </p>
  <p class="page-content">
    Thus far in my career, I have tracked the performance of brands outside of their core through licensing in plush, 
    floral bouquets, vinyl collectibles, toys, games, and so many other categories, 
    building brand portfolios diversified by category as one might manage a stock portfolio alongside 
    product collections. In some cases, I had the pleasure of developing brand outlines as well, 
    such as Disney Couture and Tasty Peach. In other cases, I helped bring products to life that were meaningful 
    to me and connected me to my own communities.
  </p>
  <div class="page-content">
    <p>I have spent the last 20+ years:</p>
    <ul>
      <li>Creating and executing business, marketing, and sales plans.</li>
      <li>Developing brand, product, and licensing strategies.</li>
      <li>Performing outreach to manufacturers and licensors.</li>
      <li>Finding the right properties, product categories, and/or clients to build businesses.</li>
      <li>Analyzing retail trends.</li>
      <li>Negotiating licensing agreements.</li>
      <li>Managing royalty and product development processes.</li>
      <li>Writing articles, press releases, and marketing collateral.</li>
      <li>Poking around various social media platforms to follow emerging trends and maintain relationships.</li>
      <li>Collaborating on setting financial goals and creating forecasts as well as developing them independently.</li>
      <li>Teaming with clients to create brand books by identifying target consumers and retailers, brand personalities, brand highlights, and writing copy.</li>
      <li>Leading cross-functionally at the executive level in companies from $45 Million to $110 Million.</li>
      <li>Building collaborative teams.</li>
      <li>Landing the deals for two Licensing International Awards: Mighty Fine & Ford, Junk Food & NFL.</li>
    </ul>
    <p>I love the wild world of licensing and products that are a reflection of our culture, our communities, and ourselves.</p>
  </div>
  <p class="page-content">
    Licensors, Agents, & Properties: Disney, ABC, Fox, Coca-Cola, Paramount, Universal, Dreamworks, GM, Ford, 
    Equity Management Inc., McCormick, La-Z-Boy, Nissan, Cartoon Network, Bauhaus, Love & Rockets, 
    LiveNation, Epic Rights, Queen, The Beatles, Warner Bros., Joester Loria, Beanstalk, Sanrio, 
    Twiggy, Ice-T, Death Row Records, Nestle, P&G, Mattel, Pop-A-Shot, Tasty Peach, Tentacle Kitty, 
    Domo, Rovio, MGM, Striker Entertainment, NFL, NBA, Universal, Dimensional Branding Group, Temple Run.
  </p>
  <p class="page-content">
    Licensees/Manufacturers: Teleflora, Mighty Fine, Junk Food Clothing, Fifth Sun, Bioworld, Goody Two Sleeves, 
    Pyramid, Aurora, Spinmaster, Buffalo Games, AC DC Apparel, What’s Your Passion, Funko, Ripple Junction, 
    Raw Thrills, Great Eastern Entertainment, Super Impulse, Basic Fun.
  </p>
  <p class="page-content">
    Below are overviews of the deals I completed within each role.
  </p>
  <p class="page-content">
  </p>
</div>
{% endblock %}
