{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitsch-cache</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  {% block head %}
  {% endblock %}  
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/mission">Mission Statement</a></li>
        <li><a href="/love">For the Love of Brands</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/blog">My Blog</a></li>
      </ul>
    </nav>
  </header>
  <main>
   {% block content %} 
   {% endblock %}
   </main>
   <footer>
    <div class="copyright">
      <code>&copy 2025 Kitsch-Cache Branding and Licensing. All rights reserved. Website designed and developed by Mikey Strider Builds</code>
    </div>
   </footer>
</body>
</html>