{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<h1>Kitsch-Cache</h1>
{% endblock %}
{% block content %}


<section class="logo-container">
  <div class="kitsch-container">
    <img src="{% static 'images/splash.svg' %}" alt="" />
  </div>
  <img src="{% static 'images/logotype.svg' %}" alt="Kitsch-Cache logo" />
</section>
<section class="header-container">
  <div>
    <img src="{% static 'images/sfatnight.png' %}" alt="">
  </div>
</section>
<section class="msging-container" style="background-color: #656565;">
  <div>
    <h2 style="">Who we are!</h2>
    <h3>About Us</h3>
    <p>Hello I am a pragraph</p>
  </div>
</section>
<section class="brnding-container">
  <div>
    <h2>SOmething</h2>
  </div>
</section>



{% endblock %}
