{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<h1>Kitsch-Cache</h1>
{% endblock %}
{% block content %}


<section class="logo-container">
  <div class="kitsch-container">
    <!-- <img src="{% static 'images/splash.svg' %}" alt="" /> -->
  </div>
  <!-- <img src="{% static 'images/logotype.svg' %}" alt="Kitsch-Cache logo" /> -->
</section>
<div class="header-container" id="main-div">
  <div id="header-img">
    <img src="{% static 'images/sfatnight.png' %}" id="sfatnight" alt="Picture of golden gate bridge at night">
  </div>
</div>
<div class="msging-container" id="msg-container" style="color: rgb(244, 216, 255); background-color: #ff8bff64;">
  <div>
    <h2>Who we are!</h2>
    <img src="{% static 'images/tab-brand.jpg' %}" id="tab-brand" alt="" class="brand-one">
    <h2>About Us</h2>
    <h3 class="about-paragraph">
      Kitsch Cache Licensing Collective represents unique, culturally relevant licensed properties, 
      manufacturers and anything in between. We pride ourselves on our ethics and those of our clients. 
      Our services include business development, marketing, product development, agreement negotiation, 
      strategy and competitive analysis.
    </h3>
  </div>
  <div class="brnding-container" id="branding" style="background-color: #71fcfa7c;">
    <div id="brand-image" >
      <h2>Some of our Brands</h2>
      <hr />
      <img src="{% static 'images/fifth-sun-logo_295x@2x.png' %}" id="fifth-sun" alt="fifth sun logo">
      <hr />
      <img src="{% static 'images/ripple junction.png' %}" id="ripple" alt="ripple junction logo">
      <hr />
      <img src="{% static 'images/goody-two-shoes.png'%}" id="goody-two" alt="goody two shoes logo">
      <hr />
      <img src="{% static 'images/buffalo.png'%}" id="buffalo" alt="buffalo logo">
      <hr />
    </div>
  </div>
  <footer class="kitsch-footer" style="color: antiquewhite;">
    <div class="contact-footer">
      <h2>Kitsch-Cache</h2>
      <div class="contact-info">
        <p>Contact Us here:</p>
        <p>Email: </p>
        <p>Phone: </p>
        <p></p>
      </div>
      <div>
        
      </div>
      <div>
  
      </div>
      <div class="copyright">
        <code>&copy 2025 Kitsch-Cache Branding and Licensing. All rights reserved. Website designed and developed by Mikey Strider</code>
      </div>
    </div>
  </footer>
</div>


{% endblock %}
