{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<h1>Kitsch-Cache</h1>
{% endblock %}
{% block content %}


<section class="logo-container">
  <div class="kitsch-container">
    <!-- <img src="{% static 'images/splash.svg' %}" alt="" /> -->
  </div>
  <!-- <img src="{% static 'images/logotype.svg' %}" alt="Kitsch-Cache logo" /> -->
</section>
<div class="header-container" id="main-div">
  <div id="header-img">
    <img src="{% static 'images/sfatnight.png' %}" id="sfatnight" alt="Picture of golden gate bridge at night">
  </div>
</div>
<div class="msging-container" id="msg-container" style="color: rgb(244, 216, 255);">
  <div style="display: flex; justify-content: center; align-items: center;">
    <h2 style="color:rgb(214, 154, 220)">Who we are!</h2>
    <img src="{% static 'images/tab-brand.jpg' %}" id="tab-brand" alt="" class="brand-one" >
    <h2>About Us</h2>
    <h3 class="about-paragraph">
      Kitsch Cache Licensing Collective represents unique, culturally relevant licensed properties, 
      manufacturers and anything in between. We pride ourselves on our ethics and those of our clients. 
      Our services include business development, marketing, product development, agreement negotiation, 
      strategy and competitive analysis.
    </h3>
  </div>
  <div class="brnding-container" id="branding">
    <div id="brand-image" >
      <h2>Some of our Brands</h2>
      <img src="{% static 'images/fifth-sun-logo_295x@2x.png' %}" id="fifth-sun" alt="fifth sun logo">
      <img src="{% static 'images/ripple junction.png' %}" id="ripple" alt="ripple junction logo">
      <img src="{% static 'images/goody-two-shoes.png'%}" id="goody-two" alt="goody two shoes logo">
      <img src="{% static 'images/buffalo.png'%}" id="buffalo" alt="buffalo logo">
    </div>
  </div>
  <hr />
  <hr />
  <hr />
  <footer class="kitsch-footer" style="color: rgb(14, 10, 20);">
    <div class="contact-footer">
      <h3>Kitsch-Cache Contact:</h3>
      <div class="contact-info">
        <p>Email: morgana@kitsch-cache.com</p>
        <p>Phone: 555-555-5555</p>
        <p></p>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
