{% extends 'base.html' %} 
{% load static %}
{% block content %}
<h1>Women of licensing</h1>
<hr />
<div class="page-content" style="background-color: rgba(255, 244, 235, 0.578);">
  <img src="{% static 'images/Anita.png' %}" alt="" class="blog-image" >
  <h2 class="blog-name"><a href="/anita">Anita Castellar:</a></h2>
  <p class="blog-txt">It amazes me how many people in licensing 
    I have met at licensing events without ever having our paths cross in terms of deal making. 
    This might be one of the greatest things about licensing to me. <a href="/anita">Read more here...</a> </p>
</div>
<hr />
<div class="page-content" style="background-color: rgba(255, 244, 235, 0.578);">
  <img src="{% static 'images/Denise.png' %}" alt="" class="blog-image" >
  <h2 class="blog-name"><a href="/denise">Denise Gomez:</a></h2>
  <p class="blog-txt">Kicking off this new series of articles, 
    one of the first women who came to mind for me was Denise Gomez. 
    Even though our careers barely intersected, our interactions have been memorable <a href="/denise">Read more here...</a> </p>
</div>
<hr />
<div class="page-content" style="background-color: rgba(255, 244, 235, 0.578);">
  <img src="{% static 'images/Sandra.png' %}" alt="" class="blog-image" >
  <h2 class="blog-name"><a href="/sandra">Sandra Arcan:</a></h2>
  <p class="blog-txt">I met Sandra Arcan when I reached out seeking a licensing agency for EMEA to represent Tasty Peach. 
    It was one of those lucky emails I sent out to an agency that I was certain was the right fit, <a href="/sandra">Read more here...</a> </p>
</div>
<hr />
<div class="page-content" style="background-color: rgba(255, 244, 235, 0.578);">
  <img src="{% static 'images/Deena2.png' %}" alt="" class="blog-image" >
  <h2 class="blog-name"><a href="/deena">Deena Boykin:</a></h2>
  <p class="blog-txt">One of the first top level executives I remember meeting in the licensing world was Deena Boykin. 
    It was probably the second time I had visited New York in my first licensing role at Mighty Fine <a href="/deena">Read more here...</a> </p>
</div>
<hr />
<div class="page-content" style="background-color: rgba(255, 244, 235, 0.578);">
  <img src="{% static 'images/Robin.png' %}" alt="" class="blog-image" >
  <h2 class="blog-name"><a href="/robin">Robin Sayetta:</a></h2>
  <p class="blog-txt">I first met Robin when she was out on her own representing French Bull and the New York Botanical Garden.
     I really wanted to work with her at the time, <a href="/robin">Read more here...</a> </p>
</div>
<hr />
{% endblock %}