{% extends 'base.html' %} 
{% load static %}
{% block content %}
<h1>For the Love of Brands</h1>
<img src="{% static 'images/tab-brand.jpg' %}" alt="">
<hr />
<p class="page-content">
  From a very early age, I wanted to escape into the world of brands. 
  There was something glossy and vibrant about the images in magazines, something captivating about the ads on television. 
  Taken together with radio jingles they were larger than life.
</p>
<p class="page-content">
  My favorite brand at the age of four was Tab. 
  Even though my mother certainly wouldn’t have ever let me try it, nor would she have been thrilled that her tiny, 
  blonde daughter wanted to inhabit that world.
</p>
<p class="page-content">
  As I grew older, there were new brands: 
  Dreyer’s, Jordache, Hawaiian Tropic (I hated people telling me I looked like the Coppertone girl), 
  Virginia Slims (I never did smoke those), Cointreau, Campari, Herbal Essences…
</p>
<p class="page-content">
  You get the drift.
</p>
<p class="page-content">
  Throughout high school and on into adulthood I collected ads, cutting them out of magazines and hanging them on my walls. 
  Some of the brands I loved enough that the day I could afford to buy them, I did. Like Diesel. 
  It took me about eight years to finally buy my first pair of Diesel jeans after falling in love with the brand. 
  It took about six months to develop a taste for Campari after sticking an ad of theirs on the wall. 
  And I finally bought my first Volkswagen when I graduated from business school after all of those great 
  Passat and Jetta ads in the mid to late 90’s targeting those of us in that last little segment of Gen X.
</p>
<p class="page-content">
  And then a conversation in one of my undergraduate Women’s Studies courses shifted my love of brands into a question: 
  “If brands make people feel bad, why do people buy them?” Of course I’d experienced this plenty of times with brands. 
  My body would never be a perfect, airbrushed hanger for clothes. 
  I would never have that perfect home, serve that perfect dish.
</p>
<p class="page-content">
  I took this question to heart and it led me into a career in licensing in apparel. 
  I got to build a portfolio of brands, trading on their cultural currency. 
  I got to watch as Disney struggled in the mid to late 2000’s while corporate brands like Coca-Cola and Ford performed. 
  Napoleon Dynamite and Angry Birds took the retail market by storm. 
  I even got to bring Tab tees to market, wearing my Swarovski crystal Tab logo’d tee until it wore out.
</p>
<p class="page-content">
  And then I watched the middle drop out of the retail apparel market in 2008. 
  Over the next several years I watched the world of creative, 
  story-rich advertising become a world of spam emails and poorly written copy, 
  commoditization and the downward, manufacturer-killing price spiral. 
  Of course, with this there has also been a rise of new brands, 
  locally made products, and all kinds of amazing technology that holds the promise of a simpler life.
</p>
<p class="page-content">
  All of this to say that it’s about time I start writing because 
  I care very deeply about the state of brands and advertising and the ways in which they shape our culture, 
  become markers of the state of our economy, and reflect our beliefs. Cheers.
</p>
<hr />
{% endblock %}