{% extends 'base.html' %} 
{% load static %}
{% block content %}
<h1>Women in Licensing</h1>
<img src="{% static 'images/Anita.png' %}" alt="" style="max-width: 300px;">
<h2>Anita Castellar:</h2>
<div>
    <p>It amazes me how many people in licensing 
        I have met at licensing events without ever having our paths cross in terms of deal making. 
        This might be one of the greatest things about licensing to me. We all know each other.
         We’re always looking for ways to work together. Anita Castellar is one of those people for me. 
         One day, I hope we will get to do a deal together or work on something collaboratively. 
         In the meantime, I am in her corner cheering her on.</p>
    <p>How did you find your way into licensing?</p>
    <p>Licensing definitely found me and not the other way around! 
        I started my career doing product development in the Disney Theme Parks. 
        Many of the attractions that I developed toys for were licensed attractions at the time 
        (Muppets, Test Track, Star Tours, etc.). 
        This set my feet on the path to working on licensed properties and developing merchandise programs 
        that were heavily fan centric. Eventually I worked on Star Wars master toys at Hasbro,
         and then joined the Lucasfilm licensing team, 
         licensing out the Star Wars and Indiana Jones franchises. 
         In 2018, I broke out on my own and started my own agency, 
         FanGirl Consulting and Brand Management.</p>
    <p>What were some of your favorite deals & why?</p>
    <p>That’s so hard…I love all my licensing babies the same! 
        I have had the good fortune to work on so many great projects but some of my favorite deals were 
        ones those that were “firsts”. There are some that stand out though either because of their 
        longevity or because of the reception they had on the fans.</p>
    <p>The Build Your Own Lightsaber program in the Disney Theme Parks was the first big project 
        I was involved with that was the purest sense of storytelling through product and required a 
        huge team of people to execute. It has now taken on a life of its own from 1 fixture at Walt Disney 
        World to a global program, but it holds a special place in my heart.</p>
    <p>The other would have to be the app-enabled BB-8 that I worked on in 2015 with Sphero, 
        who was a Star Wars licensee at the time that Episode VII was launching in theaters. 
        It was such a difficult product completed in less than six months. 
        I felt like my lifespan was shortened by a lot! But the figure turned out to be so cool. 
        The BB-8 figure had so much technology built into it, 
        but we still were able to keep the personality of the character and make it fun and interactive. 
        Even the marketing campaign turned out amazing. It took the toy by storm and I’m so proud of it. 
        The fans LOVED it!</p>
    <p>What do you love most about licensing?</p>
    <p> I love how it makes people feel! 
        I have had the experience of standing in a venue with 5,000 fans cheering over a product reveal that 
        I worked on. That kind of experience can bring tears to your eyes.</p>
    <p>What do you do in your free time?</p>
    <p>My family and I are a bunch of geeks and nerds so when I’m not working on the business of fandom, 
        I’m immersed in it. Some of my favorites are Voltron, Godzilla, the Alien movies and anything 
        M. Night Shyamalan.</p>
</div>
{% endblock %}