{% extends 'base.html' %} 
{% load static %}
{% block content %}
<h1>Women in Licensing</h1>
<img src="{% static 'images/Deena2.png' %}" alt="" style="max-width: 300px;">
<h2>Deena Boykin:</h2>
<div>
    <p>One of the first top level executives I remember meeting in the licensing world was Deena Boykin. 
        It was probably the second time I had visited New York in my first licensing role at Mighty Fine. 
        Though I can’t recall what property we were going after, 
        it was my first time visiting Cartoon Network onsite and meeting with their team. 
        When Deena joined our meeting, I felt honored to be in her presence.
         She was everything I aspired to be. And, I continue to be inspired by the work that she does.</p>
    <p>How did you end up in licensing?</p>
    <p>After I graduated from USC, I was seeking positions where I could merge my sales experience with my 
        MBA in marketing.  What I didn’t realize at the time, was how easily transferable my skills were in 
        the Licensing industry.  Licensing allowed me the opportunity to use my sales skills to 
        build relationships, pitch, and close deals and to be creative by creating and executing 
        in-store promotions. I didn’t start in the retail division but quickly realized retail development 
        was a perfect fit for me.</p>
    <p>What were some of your favorite deals & why?</p>
    <p>Coming from the retail sector, my success is based on executing in-store promotions or getting 
        allocated space for products and displays.  I have worked on some amazing properties, 
        so I’ll answer this one, based on the studio I worked for at the time.   
        At Walt Disney Studios Home Entertainment, it was Cinderella.  
        I’m dating myself but back in the day, we actually built corrugate Cinderella castles in Mass and 
        Grocery stores. At Paramount Home Entertainment, it was Titanic. 
         We build a replica of the Titanic ship in Mass stores.  It was awesome.  
         At Nickelodeon, there were so many great shows, but I’m going to go with The Rugrats, 
         because it was my first “retail-tainment” event at Walmart.  And at Cartoon Network, 
         Ben 10, my first all-boy action brand proved to be a big success at retail.</p>
    <p>What do you love most about licensing?</p>
    <p>I get such a high seeing brands I worked on get to retail or I pass a kid or adult on the street 
        wearing a piece of apparel.  As you know, it’s a process to get from inception to execution and 
        it’s an incredible feeling to know that you helped to make that happen.</p>
    <p>What are you up to now?</p>
    <p>In 2014, I launched Retail Think Tank (RTT), a boutique marketing agency dedicated to getting 
        products to retail.  My initial goal was to help smaller business get their products 
        to retail but RTT proved to be bigger than I even imagined.  I have worked on marketing, 
        branding, forecasting, and inventory for some amazing clients such a Microsoft 343 Industries, ACLU, 
        Lion Forge Animation, Girl Scouts, and National Geography to name a few. I never set out to be an 
        entrepreneur, but hands down this has been the best decision I ever made and an incredible and 
        rewarding experience</p>
</div>
{% endblock %}